<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a MercadoLiebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/style_register.css">
    <script src="https://kit.fontawesome.com/4b6f922cb1.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--Barra principal-->
    <header class="header-principal">
        <div class="header-top-bar">
            <!-- <div class="logo-sear"> -->
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo">
                <div class="form">
                    <form action="#" method="GET" class="busqueda">
                        <input class="input" type= "search" name="buscar" placeholder="Buscar productos, marcas" >
                        <button class="button-sear" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            <!-- </div>     -->
                <h3 class="titular-oferta-princial">
                    <i class="fa-solid fa-hand-holding-dollar"></i> 
                    Comprá en cuotas y sin tarjeta de crédito
                </h3>
            
        </div>
        <!--boton de hambuguesa-->
        <a href="#" class="burger-menu"><i class="fa-solid fa-bars"></i></a>
        <!--barra de navegacion-->
        <nav class="barra-nav">
            <ul class="site">
                <li><a href="/">Ofertas</a></li>
                <li><a href="/">Tiendas Oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
                
            </ul>
            <ul class="login-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="/">Mis compras <i class="fa-solid fa-basket-shopping"></i></a> </li>
            </ul>
        </nav>

    </header>
    <!--Formulario de registro-->
    <form action="/" method="GET" class="formulario" enctype="multipart/form-data">
            <div class="nombre-apellido">
                <input type="text" name="nombre" placeholder="Nombre y apellido" class="nombre" required minlength="8"  >
            </div>
            <div class="nombre-usuario">
                <input type="text" name="usuario" placeholder="Nombre de usuario" class="usuario" required minlength="4">
            </div>
            <div class="e-mail">
                <input type="text" name="email" placeholder="E-mail" class="email" required>
            </div>
            <div class="fecha-div">
                <div class="label">
                    <label class="label-form">Fecha de nacimiento</label>
                </div>
                <input type="date" name="fecha" placeholder="Fecha de nacimiento" class="fecha">
            </div>
            <div class="domicilio-div">
                <input type="text" name="domicilio" placeholder="Domicilio" class="domicilio">
            </div>
            <div class="perfil">
                <div><label class="label-form">Perfil del Usuario</label></div>
                <div class="contenedor-pefil">
                    <input type= "radio" name="perfil" value="comprador" class="comprador"><label>Comprador</label>
                    <input type= "radio" name="perfil" value="vendedor" class="vendedor"><label>Vendedor</label>
                </div>
            </div>
            <div class="intereses">
                <div class="label">
                    <label class="label-form">Intereses</label>
                </div>
                <div class="electro">
                    <input type= "checkbox" name="intereses" class="electro-in">
                    <label class="intereses-lebel-input">Electro</label>
                    
                </div>
                <div class="moda">
                    <input type= "checkbox" name="intereses" class="moda-in">
                    <label class="intereses-lebel-input">Moda</label>
                    
                </div>
                <div class="hogar">
                    <input type= "checkbox" name="intereses" class="hogar-in">
                    <label class="intereses-lebel-input">Hogar</label>
                    
                </div>
                <div class="jugueteria">
                    <input type= "checkbox" name="intereses" class="jugueteria-in">
                    <label class="intereses-lebel-input">Juguetería</label>
                    
                </div>
                <div class="vida-sana">
                    <input type= "checkbox" name="intereses" class="vida-sana-in">
                    <label class="intereses-lebel-input">Vida sana</label>
                    
                </div>
            </div>                
            <div class="foto-usuario">
                <div><label class="label-form">Foto de usuario</label></div>
                <div class="contenedor-foto-usuario">
                    <input type="file" name="foto-usuario" accept=".jpg, .png, .svg" class="adjuntar">
                </div>
                <span>.jpg, .png, .svg</span>
            </div>
            <div class="contraseña">
                <div class="label-contraseña"><label class="label-form">Contraseña</label></div>
                <div class="contenedor-contraseña">
                    <input type="password" name="password" placeholder="Contraseña nueva" class= "password" required minlength="8">
                    <input type="password" name="password" placeholder=" Confirmar contraseña" class= "password" required minlength="8">
                </div> 
            </div>
            <div class="contenedor-button">
                <div class="contenedor-button-uno">
                    <button type="submit" class="button-enviar">Enviar</button>
                </div>
                <div class="contenedor-button-dos">
                    <button type="reset" class="button-borrar">Borrar</button>
                </div> 
                    
                
            </div>
    </form>
    <footer>
        <section>
            <div><i class="fa-solid fa-credit-card"></i></div>
            <h3 class="sub-titulo-footer">Pagá con tarjeta o en efectivo</h3>
            <p class="cuerpo-tex">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </div>
        </section>

        <section>
            <div><i class="fa-solid fa-gift"></i></div>
            <h3 class="sub-titulo-footer">Envío gratis desde $ 2.500</h3>
            <p class="cuerpo-tex">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <div><i class="fa-solid fa-user-shield"></i></div>
            <h3 class="sub-titulo-footer">Seguridad, de principio a fin</h3>
            <p class="cuerpo-tex">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>

        <section>
            <p class="cuerpo-tex">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>  
</body>
</html>