
/* caja formulario etiqueta form*/
.formulario{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 10px;
    
}

/* div donde se encuentran todos los imput*/
form.formulario div {
    padding: 10px 0px;
    width: 100%;
}

.nombre, .usuario, .email, .fecha, .domicilio, .password{
    border: 2px solid #ebebeb;
    border-radius: 8px;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    
}

.label{
    padding: 0px;
}

.label-form{
    margin: 0;
    display: block;
    font-weight: 600;
    padding-bottom: 15px;

}

div.perfil .contenedor-pefil{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.intereses-lebel-input{
    padding-left: 15px;
}

.contenedor-foto-usuario{
    margin: 0;
    padding: 0;
}


div.contraseña div.label-contraseña,div.contraseña div.contenedor-contraseña{
    margin: 0px;
    padding: 0px;
}


.contenedor-button{
    display: flex;
    flex-direction: row;
    
}
/* estilo de los botones*/
button{
    border: 2px solid #ebebeb;
    border-radius: 8px;
    height: 40px;
    width: 100%;
    background-color: #ffff;
    color: black;
}
/* validacion de formularios*/
form.busqueda input:valid{
    box-shadow: none;
    
}
form.busqueda input:invalid{
    box-shadow: none;
    
}

input:focus:valid{
    box-shadow: 0 0 6px 2px #39b54a;
    
}


input:Focus:invalid {
    box-shadow: 0 0 6px 2px red;
}


/* animacion de botones*/
button.button-enviar:hover{
    background-color: #0022AA;
    color: #ffff;
}

button.button-borrar:hover{
    background-color: #EAC926;
    color: #ffff;
}


button{
    transition: background-color 1.5s;
}




@media(min-width:361px){
    .formulario{
        width: 70%;
    }

}



@media(min-width:769px){
    .formulario{
        width: 40%;
    }

}